.btn-toggle {
    border: none;
    position: absolute;
    top: 55%;
    right: 5%;
    font-weight: lighter;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.invisible-toggle-btn {
    display: block;
}

.visible-toggle-btn {
    display: none;
}
